section.contact
  background: url(../img/white1.jpg)
  background-size: cover
  background-position: center center
  min-height: 50vh

  h2
    font-size: 230%
    font-weight: 270
    color: black

  h1
    font-weight: 300
    font-size: 300%
    color: black

  p2
    font-size: 140%
    font:
      color: #404040
  a
    color: black
