section.experiences
  background: url(../img/toronto.jpg)
  height: 35vh
  background-repeat: no-repeat
  background-size: auto
  background-position: center top

h3
  color: black
  font:
    size: 50px
    weight: 300

p
  padding-top: 0
