body{
    background-color: black;
    margin: 0;
}

id #pick{

}

.translucent-box1, .translucent-box2{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    top: -100%;
}

.profcontent {
    align-items: center;
    display: flex;
}
.left-box {
    margin-top: 20%;
    text-align: right;
    color: white;
    width: 50%;
}
.right-box {
  margin-top: 20%;
    text-align: left;
    color: white;
    width: 50%;
}
.right-box h1 h3 input {
    padding: 8%;
}
.left-box h1 h3 input {
    padding: 8%;
}


.cancel {
    text-decoration: none;
    top: 4%;
    right: 6%;
    position: absolute;
    float: right;
    z-index: 100;
}
