section.about#about.parallax
  .content
    .flex.flex--center
      .col-50.flex.flex--center
        .col-1
          
          h1 Let's talk!

          
      .col-50
        
        
        a(href="").home-cta Login
        
        br
        
        a(href="").home-cta Sign Up Free!
