section.about#about.parallax
  .content
    .flex.flex--center
      .col-50.flex.flex--center
        .col-1
        
          br
          
          p Hello, I'm a first year Computer Science student at the University of Toronto Scarborough Campus. 
          
          p Big fan of mathematics, chess, game theory, responsive-design, programming and korean-bbq with the boys.

          
      .col-50
        
        br
        
        p1 I have extensive experience in culinary arts/hospitality, photography, graphic design, music education and music performance, but as of recent, I've begun dabbling my feet in computer science and software.
        
        br
        
        a(href="").home-cta Explore
