section.projects#projects
  .flex.flex--center
    .col-1.flex--center
      h2 PROJECTS

  .flex.flex--center
    .project
      .col-2.flex--center
        h3 H-Richard.me
        p A responsive Personal Website/Portfolio built from scratch to consolidate and demonstrate my front end skill growth.
        p Tech Stack: HTML/CSS, JavaScript, Node, Jekyll, Ruby, Jade, Gulp

        a(href="https://github.com/H-Richard/H-Richard.github.io") Check it out on GitHub!

        p


  .flex.flex--center
    .project
      .col-2.flex--center
        h3 minesweeper
        p A Hackathon Project built with-in 12 hours at UTSC Local Hack Day, the project has a game component and an AI-player component,
        p the game component is the classic minesweeper game that runs in your terminal.
        p the AI-player component is an algorithm that will play the game win.

        a(href="https://github.com/H-Richard/minesweeper") Check it out on GitHub!

        p


  .flex.flex--center
    .project
      .col-2.flex--center
        h3 UTSC-NOTES
        p A public Notes repository dedicated to providing students at the University of Toronto Scarborough with a free & reliable source of Computer Science Notes.

        p Tech Stack: LaTeX, Jupyter Notebook, HTML/CSS, Python

        a(href="https://github.com/H-Richard/UTSC-NOTES") Check it out on GitHub!

        p
