section.contact#contact
  .flex.flex--center
    .col-2.flex--center
      h1 Now that you know about me, I'd like to know about you!
      
      br
      
      p2 EMAIL:
      
      h2 r.hong@pm.me
      
      p2 Can't wait?
      
      h2 647-861-0545
