section.skills#skills.parallax
  .flex.flex--center
    .col-1
      .skill-strip
    
      p Also im kind of good at piano but that's not very important :P
      
    .col-1.order-first
      h1.black-pad Skills:
            
      a(href="").home-cta Resume Here!
